/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-862397070b2b4633b0e6.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e6266f45b7fad666ac0e.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ccb17517792f24c71094.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-08-22T17-29-21-0001.json
/cmake-build-debug/.cmake/api/v1/reply/target-untitled1-Debug-8558f75dee44317335ae.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-d1fec8847d7c587f39f7.json
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/untitled1.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/untitled1.dir/Rectangle.cpp.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/drugs.txt
/cmake-build-debug/maxDosages.txt
/cmake-build-debug/untitled1
